{{full_definition}}
<div>{{hint:simplified_variants}}</div>
<div>{{hint:traditional_variants}}</div>
<div>{{hint:semantic_variants}}</div>
<div>{{hint:specialized_semantic_variants}}</div>
<div>{{hint:spoofing_variant}}</div>
<div>{{hint:z_variants}}</div>
<hr />
<div class="character">{{character}}</div>

<div
  id="hanzi-quiz"
  data-character="{{character}}"
  data-graphics_cbor_zlib_base64="{{graphics_cbor_zlib_base64}}"
></div>

<script type="module">
  const quizEl = document.getElementById("hanzi-quiz");
  const deckWriter = await import("./_hanzi-deck-writer.js");
  await deckWriter.activateHanziWriter(quizEl);
</script>
